/* MMM-Skyss */

table.skyss {
  width: 100%;
  border: 1px;
  text-align: left;
}

table.skyss td,
table.skyss th {
  padding: 0 6px;
}

table.skyss thead {
  border-bottom: 1px solid rgb(255 255 255 / 73.3%);
}

/* table.skyss td {
  border-left: 1px solid rgba(255, 255, 255, 0.685);
} */
.skyss .line {
  padding-right: 5px;
}

.skyss .title {
  padding-left: 0;
  padding-right: 0;
}

.skyss .time {
  padding-left: 30px;
  text-align: right;
}

.sanntid {
  color: rgb(231 149 35);
  font-weight: bold;
}

.rightalign {
  text-align: right;
}

.skyss-deviations {
  margin-bottom: 4px;
}

.skyss-deviation {
  color: rgb(231 149 35);
}
